# Employee Data Cleaning Notebook
**Goal**: Transform messy, dirty data into a clean, analysis-ready dataset

File: `employee_data_with_qual.xlsx`

Common issues visible in the data:
- Inconsistent name casing & duplicates
- Invalid ages (text, extreme values)
- Negative / missing / invalid salaries
- Multiple date formats + invalid dates
- Inconsistent department names
- Missing values in different formats (NaN, empty, "not available")
- Trailing/leading spaces, typos

**Import the Required Files**

In [11]:
# Import the required files────
import pandas as pd
import numpy as np
from datetime import datetime
import re

**Load the file & Inspect the file**

In [23]:
#  Load the file & Expolatory Analysis 
df = pd.read_excel("employee_dataset_100_records.xlsx")
print("Shape:", df.shape)
display(df.head(3))
display(df.tail(3))
display(df.size)

Shape: (100, 5)

           Name Age  Salary   Join Date Department
0  James O'Neil  38   83577  2018-11-25      Sales
1        Sara K  36  110471  2012-06-28      Sales
2       Chris P  35   62474  2022-07-20      Sales

         Name  Age  Salary   Join Date Department
97       Noah  NaN     56k  23-01-2020         IT
98  Ana Marie  NaN  -37192  15-02-2021         IT
99     Olivia   56  -19995  2012/01/08  marketing

500

**Statistics of Data**

In [24]:
#  Check the statisctis of data
df.describe()
df.info()
df.isnull()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         53 non-null     object
 2   Salary      100 non-null    object
 3   Join Date   100 non-null    object
 4   Department  100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

     Name    Age  Salary  Join Date  Department
0   False  False   False      False       False
1   False  False   False      False       False
2   False  False   False      False       False
3   False  False   False      False       False
4   False  False   False      False       False
..    ...    ...     ...        ...         ...
95  False   True   False      False       False
96  False   True   False      False       False
97  False   True   False      False       False
98  False   True   False      False       False
99  False  False   False      False       False

[100 rows x 5 columns]

**Summary of Data**

In [25]:

def quick_quality_report(df):
    report = pd.DataFrame({
        'dtype': df.dtypes,
        'missing': df.isna().sum(),
        '%_missing': df.isna().mean().round(4)*100,
        'unique': df.nunique()    
    })
    
    # Most frequent value
    report['most_common'] = df.mode().iloc[0]
    
    # Show top3 values 
    for col in df.select_dtypes('object').columns:
        vc = df[col].value_counts().head(3)
        report.loc[col, 'top_3_values'] = str(vc.to_dict())
        
    return report

display(quick_quality_report(df))

,dtype,missing,%_missing,unique,most_common,top_3_values
Name,object,0,0.0,14,Daniel,"{'Daniel': 14, 'John Doe': 14, 'Chris P': 11}"
Age,object,47,47.0,33,thirty,"{'thirty': 14, 53: 3, 28: 2}"
Salary,object,0,0.0,81,not available,"{'not available': 17, '68k': 3, '51k': 2}"
Join Date,object,0,0.0,100,01-10-2015,"{'2018-11-25': 1, '2012-06-28': 1, '2022-07-20..."
Department,object,0,0.0,6,Marketing,"{'Marketing': 21, 'IT': 19, 'HR': 18}"

**Apply Cleaning**

In [26]:
# Drop any missing value and save it in new df
df_clean = df.dropna().copy()

# Standardize column names (lowercase, strip, underscore)
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace(" ", "_", regex=False)
df_clean.columns

Index(['name', 'age', 'salary', 'join_date', 'department'], dtype='object')

**Clean Name & Department Column**

In [27]:
df_clean['name'] = df_clean['name'].astype(str).str.strip().str.title().str.replace(r'\s+', ' ', regex=True)

# Department
df_clean['department'] = (
    df_clean['department']
    .astype(str)
    .str.strip()
    .str.title()
    .replace({
        'Hr': 'HR', 'It': 'IT', 'Sale': 'Sales', 'Marketting': 'Marketing',
        'Fin': 'Finance', 'H.R.': 'HR', '': np.nan, 'nan': np.nan
    })
)
df_clean

            name     age         salary   join_date department
0   James O'Neil      38          83577  2018-11-25      Sales
1         Sara K      36         110471  2012-06-28      Sales
2        Chris P      35          62474  2022-07-20      Sales
3         Sophia      49          72657  2013-10-06         HR
4          David      37          84022  2024-11-13  Marketing
5        Michael      50          52958  2018-11-04  Marketing
6       John Doe      53          87154  2024-04-19    Finance
7       John Doe      45          51669  2014-03-09         HR
8          Karen      62          38963  2011-03-31         HR
9          Tommy      24         106611  2015-05-15         IT
10        Daniel      28          53258  2010-08-17  Marketing
11        Olivia      21          43719  2017-01-20         IT
12  James O'Neil      53         105290  2010-04-09         HR
13       Chris P      45          58477  2022-04-25      Sales
14           Tim      31          87040  2011-05-14    Finance
15     Ana Marie      50          31624  2013-10-23         IT
16        Daniel      43          67244  2014-10-24      Sales
17       Michael      20          78028  2013-03-17  Marketing
18        Daniel      53          67909  2012-05-23    Finance
19          Noah      31          73126  2014-01-29    Finance
21  James O'Neil      54            68k  2015/06/03  Marketing
23       Michael  thirty         -47857  2017-12-14  Marketing
25       Chris P      28          40943  2022/02/25    Finance
29      John Doe      66          79360  2014/12/03  Marketing
30       Chris P  thirty          52942  2010/07/27    Finance
34        Daniel      51          30500  2015-03-29  Marketing
35      John Doe     128         -44908  2010-03-07         HR
37         Karen      80  not available  2015/01/15         IT
39           Tim     117  not available  2012-07-08         HR
40       Chris P     133          31253  06-05-2015  Marketing
42       Chris P      32          -1504  2018-08-28  Marketing
44        Olivia      90            46k  21-05-2021         HR
45        Daniel  thirty            68k  25-09-2013  Marketing
46      John Doe      83  not available  20-10-2014  Marketing
48        Olivia      97  not available  2011-08-31  Marketing
49         Tommy     126  not available  2010-10-28         HR
51        Sara K  thirty            69k  2017/10/20         HR
52        Daniel  thirty         -37083  2021/10/03         IT
55       Michael  thirty         -12379  29-12-2013      Sales
56       Chris P      32            80k  2019-07-12    Finance
57         David  thirty            60k  10-02-2016  Marketing
61           Tim  thirty  not available  12-03-2022         IT
62         Tommy      59  not available  07-06-2010      Sales
66       Michael     101  not available  2010-04-18    Finance
67      John Doe     100  not available  2018/01/13  Marketing
69       Michael  thirty            51k  2019-08-14         HR
71        Daniel  thirty         -28568  23-07-2017    Finance
78       Chris P     111         -36264  2010-08-11    Finance
85         David  thirty            71k  10-07-2022         HR
89  James O'Neil  thirty  not available  2018-09-22         HR
90  James O'Neil  thirty         -35293  07-07-2021  Marketing
91        Olivia  thirty         -57693  2012-08-07         IT
99        Olivia      56         -19995  2012/01/08  Marketing

**Clean Age Column**

In [29]:
# Clean Age Column 
age_map = {
    'thirty': 30,
    'NaN': np.nan,
    '': np.nan,
    'unknown': np.nan,
    'N/A': np.nan
}

df_clean['age'] = df_clean['age'].replace(age_map)
df_clean['age'] = pd.to_numeric(df_clean['age'], errors='coerce')
df_clean['age'] = df_clean['age'].where(
    (df_clean['age'] >= 16) & (df_clean['age'] <= 70),
    np.nan
)
df_clean

            name   age         salary   join_date department
0   James O'Neil  38.0          83577  2018-11-25      Sales
1         Sara K  36.0         110471  2012-06-28      Sales
2        Chris P  35.0          62474  2022-07-20      Sales
3         Sophia  49.0          72657  2013-10-06         HR
4          David  37.0          84022  2024-11-13  Marketing
5        Michael  50.0          52958  2018-11-04  Marketing
6       John Doe  53.0          87154  2024-04-19    Finance
7       John Doe  45.0          51669  2014-03-09         HR
8          Karen  62.0          38963  2011-03-31         HR
9          Tommy  24.0         106611  2015-05-15         IT
10        Daniel  28.0          53258  2010-08-17  Marketing
11        Olivia  21.0          43719  2017-01-20         IT
12  James O'Neil  53.0         105290  2010-04-09         HR
13       Chris P  45.0          58477  2022-04-25      Sales
14           Tim  31.0          87040  2011-05-14    Finance
15     Ana Marie  50.0          31624  2013-10-23         IT
16        Daniel  43.0          67244  2014-10-24      Sales
17       Michael  20.0          78028  2013-03-17  Marketing
18        Daniel  53.0          67909  2012-05-23    Finance
19          Noah  31.0          73126  2014-01-29    Finance
21  James O'Neil  54.0            68k  2015/06/03  Marketing
23       Michael  30.0         -47857  2017-12-14  Marketing
25       Chris P  28.0          40943  2022/02/25    Finance
29      John Doe  66.0          79360  2014/12/03  Marketing
30       Chris P  30.0          52942  2010/07/27    Finance
34        Daniel  51.0          30500  2015-03-29  Marketing
35      John Doe   NaN         -44908  2010-03-07         HR
37         Karen   NaN  not available  2015/01/15         IT
39           Tim   NaN  not available  2012-07-08         HR
40       Chris P   NaN          31253  06-05-2015  Marketing
42       Chris P  32.0          -1504  2018-08-28  Marketing
44        Olivia   NaN            46k  21-05-2021         HR
45        Daniel  30.0            68k  25-09-2013  Marketing
46      John Doe   NaN  not available  20-10-2014  Marketing
48        Olivia   NaN  not available  2011-08-31  Marketing
49         Tommy   NaN  not available  2010-10-28         HR
51        Sara K  30.0            69k  2017/10/20         HR
52        Daniel  30.0         -37083  2021/10/03         IT
55       Michael  30.0         -12379  29-12-2013      Sales
56       Chris P  32.0            80k  2019-07-12    Finance
57         David  30.0            60k  10-02-2016  Marketing
61           Tim  30.0  not available  12-03-2022         IT
62         Tommy  59.0  not available  07-06-2010      Sales
66       Michael   NaN  not available  2010-04-18    Finance
67      John Doe   NaN  not available  2018/01/13  Marketing
69       Michael  30.0            51k  2019-08-14         HR
71        Daniel  30.0         -28568  23-07-2017    Finance
78       Chris P   NaN         -36264  2010-08-11    Finance
85         David  30.0            71k  10-07-2022         HR
89  James O'Neil  30.0  not available  2018-09-22         HR
90  James O'Neil  30.0         -35293  07-07-2021  Marketing
91        Olivia  30.0         -57693  2012-08-07         IT
99        Olivia  56.0         -19995  2012/01/08  Marketing

**Clean Salary Column**

In [38]:
# Clean Salary Column 
# Remove currency symbols, 'k', 'not available', etc.
df_clean['salary'] = df_clean['salary'].replace({
    'not available': np.nan,
    'NaN': np.nan,
    '': np.nan,
})

df_clean['salary'] = df_clean['salary'].astype(str).str.replace('k', '000', regex=False)
df_clean['salary'] = df_clean['salary'].replace(r'[\$,]', '', regex=True)
df_clean['salary'] = pd.to_numeric(df_clean['salary'], errors='coerce')
# Convert negative salaries to positive
df_clean['salary'] = df_clean['salary'].abs()

df_clean

,name,age,salary,join_date,department,Name-Dep
0,James O'Neil,38.0,83577.0,2018-11-25,Sales,James O'Neil - Sales
1,Sara K,36.0,110471.0,2012-06-28,Sales,Sara K - Sales
2,Chris P,35.0,62474.0,2022-07-20,Sales,Chris P - Sales
3,Sophia,49.0,72657.0,2013-10-06,HR,Sophia - HR
4,David,37.0,84022.0,2024-11-13,Marketing,David - Marketing
5,Michael,50.0,52958.0,2018-11-04,Marketing,Michael - Marketing
6,John Doe,53.0,87154.0,2024-04-19,Finance,John Doe - Finance
7,John Doe,45.0,51669.0,2014-03-09,HR,John Doe - HR
8,Karen,62.0,38963.0,2011-03-31,HR,Karen - HR
9,Tommy,24.0,106611.0,2015-05-15,IT,Tommy - IT
10,Daniel,28.0,53258.0,2010-08-17,Marketing,Daniel - Marketing
11,Olivia,21.0,43719.0,2017-01-20,IT,Olivia - IT
12,James O'Neil,53.0,105290.0,2010-04-09,HR,James O'Neil - HR
13,Chris P,45.0,58477.0,2022-04-25,Sales,Chris P - Sales
14,Tim,31.0,87040.0,2011-05-14,Finance,Tim - Finance
15,Ana Marie,50.0,31624.0,2013-10-23,IT,Ana Marie - IT
16,Daniel,43.0,67244.0,2014-10-24,Sales,Daniel - Sales
17,Michael,20.0,78028.0,2013-03-17,Marketing,Michael - Marketing
18,Daniel,53.0,67909.0,2012-05-23,Finance,Daniel - Finance
19,Noah,31.0,73126.0,2014-01-29,Finance,Noah - Finance
21,James O'Neil,54.0,68000.0,2015-06-03,Marketing,James O'Neil - Marketing
23,Michael,30.0,47857.0,2017-12-14,Marketing,Michael - Marketing
25,Chris P,28.0,40943.0,2022-02-25,Finance,Chris P - Finance
29,John Doe,66.0,79360.0,2014-12-03,Marketing,John Doe - Marketing
30,Chris P,30.0,52942.0,2010-07-27,Finance,Chris P - Finance
34,Daniel,51.0,30500.0,2015-03-29,Marketing,Daniel - Marketing
42,Chris P,32.0,1504.0,2018-08-28,Marketing,Chris P - Marketing
45,Daniel,30.0,68000.0,2013-09-25,Marketing,Daniel - Marketing
51,Sara K,30.0,69000.0,2017-10-20,HR,Sara K - HR
52,Daniel,30.0,37083.0,2021-10-03,IT,Daniel - IT
55,Michael,30.0,12379.0,2013-12-29,Sales,Michael - Sales
56,Chris P,32.0,80000.0,2019-07-12,Finance,Chris P - Finance
57,David,30.0,60000.0,2016-02-10,Marketing,David - Marketing
69,Michael,30.0,51000.0,2019-08-14,HR,Michael - HR
71,Daniel,30.0,28568.0,2017-07-23,Finance,Daniel - Finance
85,David,30.0,71000.0,2022-07-10,HR,David - HR
90,James O'Neil,30.0,35293.0,2021-07-07,Marketing,James O'Neil - Marketing
91,Olivia,30.0,57693.0,2012-08-07,IT,Olivia - IT
99,Olivia,56.0,19995.0,2012-01-08,Marketing,Olivia - Marketing

**Clean the Date Column**

In [39]:
import calendar
from datetime import datetime

def validate_date(date_str):
    # Normalize separators
    date_str = date_str.replace('/', '-')
    parts = date_str.split('-')

    # Detect format
    if len(parts[0]) == 4:
        # YYYY-MM-DD
        year, month, day = parts
    else:
        # DD-MM-YYYY
        day, month, year = parts

    # Try to validate
    try:
        dt = datetime(int(year), int(month), int(day))
        return dt.strftime('%Y-%m-%d')
    except:
        return np.nan

# Apply to DataFrame
df_clean['join_date'] = df_clean['join_date'].apply(validate_date)
df_clean

,name,age,salary,join_date,department,Name-Dep
0,James O'Neil,38.0,83577.0,2018-11-25,Sales,James O'Neil - Sales
1,Sara K,36.0,110471.0,2012-06-28,Sales,Sara K - Sales
2,Chris P,35.0,62474.0,2022-07-20,Sales,Chris P - Sales
3,Sophia,49.0,72657.0,2013-10-06,HR,Sophia - HR
4,David,37.0,84022.0,2024-11-13,Marketing,David - Marketing
5,Michael,50.0,52958.0,2018-11-04,Marketing,Michael - Marketing
6,John Doe,53.0,87154.0,2024-04-19,Finance,John Doe - Finance
7,John Doe,45.0,51669.0,2014-03-09,HR,John Doe - HR
8,Karen,62.0,38963.0,2011-03-31,HR,Karen - HR
9,Tommy,24.0,106611.0,2015-05-15,IT,Tommy - IT
10,Daniel,28.0,53258.0,2010-08-17,Marketing,Daniel - Marketing
11,Olivia,21.0,43719.0,2017-01-20,IT,Olivia - IT
12,James O'Neil,53.0,105290.0,2010-04-09,HR,James O'Neil - HR
13,Chris P,45.0,58477.0,2022-04-25,Sales,Chris P - Sales
14,Tim,31.0,87040.0,2011-05-14,Finance,Tim - Finance
15,Ana Marie,50.0,31624.0,2013-10-23,IT,Ana Marie - IT
16,Daniel,43.0,67244.0,2014-10-24,Sales,Daniel - Sales
17,Michael,20.0,78028.0,2013-03-17,Marketing,Michael - Marketing
18,Daniel,53.0,67909.0,2012-05-23,Finance,Daniel - Finance
19,Noah,31.0,73126.0,2014-01-29,Finance,Noah - Finance
21,James O'Neil,54.0,68000.0,2015-06-03,Marketing,James O'Neil - Marketing
23,Michael,30.0,47857.0,2017-12-14,Marketing,Michael - Marketing
25,Chris P,28.0,40943.0,2022-02-25,Finance,Chris P - Finance
29,John Doe,66.0,79360.0,2014-12-03,Marketing,John Doe - Marketing
30,Chris P,30.0,52942.0,2010-07-27,Finance,Chris P - Finance
34,Daniel,51.0,30500.0,2015-03-29,Marketing,Daniel - Marketing
42,Chris P,32.0,1504.0,2018-08-28,Marketing,Chris P - Marketing
45,Daniel,30.0,68000.0,2013-09-25,Marketing,Daniel - Marketing
51,Sara K,30.0,69000.0,2017-10-20,HR,Sara K - HR
52,Daniel,30.0,37083.0,2021-10-03,IT,Daniel - IT
55,Michael,30.0,12379.0,2013-12-29,Sales,Michael - Sales
56,Chris P,32.0,80000.0,2019-07-12,Finance,Chris P - Finance
57,David,30.0,60000.0,2016-02-10,Marketing,David - Marketing
69,Michael,30.0,51000.0,2019-08-14,HR,Michael - HR
71,Daniel,30.0,28568.0,2017-07-23,Finance,Daniel - Finance
85,David,30.0,71000.0,2022-07-10,HR,David - HR
90,James O'Neil,30.0,35293.0,2021-07-07,Marketing,James O'Neil - Marketing
91,Olivia,30.0,57693.0,2012-08-07,IT,Olivia - IT
99,Olivia,56.0,19995.0,2012-01-08,Marketing,Olivia - Marketing

**Remove duplicates, drop missing values**

In [32]:
df_clean = df_clean.replace("", pd.NA)
df_clean = df_clean.drop_duplicates().copy()
df_clean = df_clean.dropna().copy()

df_clean

            name   age    salary   join_date department
0   James O'Neil  38.0   83577.0  2018-11-25      Sales
1         Sara K  36.0  110471.0  2012-06-28      Sales
2        Chris P  35.0   62474.0  2022-07-20      Sales
3         Sophia  49.0   72657.0  2013-10-06         HR
4          David  37.0   84022.0  2024-11-13  Marketing
5        Michael  50.0   52958.0  2018-11-04  Marketing
6       John Doe  53.0   87154.0  2024-04-19    Finance
7       John Doe  45.0   51669.0  2014-03-09         HR
8          Karen  62.0   38963.0  2011-03-31         HR
9          Tommy  24.0  106611.0  2015-05-15         IT
10        Daniel  28.0   53258.0  2010-08-17  Marketing
11        Olivia  21.0   43719.0  2017-01-20         IT
12  James O'Neil  53.0  105290.0  2010-04-09         HR
13       Chris P  45.0   58477.0  2022-04-25      Sales
14           Tim  31.0   87040.0  2011-05-14    Finance
15     Ana Marie  50.0   31624.0  2013-10-23         IT
16        Daniel  43.0   67244.0  2014-10-24      Sales
17       Michael  20.0   78028.0  2013-03-17  Marketing
18        Daniel  53.0   67909.0  2012-05-23    Finance
19          Noah  31.0   73126.0  2014-01-29    Finance
21  James O'Neil  54.0   68000.0  2015-06-03  Marketing
23       Michael  30.0  -47857.0  2017-12-14  Marketing
25       Chris P  28.0   40943.0  2022-02-25    Finance
29      John Doe  66.0   79360.0  2014-12-03  Marketing
30       Chris P  30.0   52942.0  2010-07-27    Finance
34        Daniel  51.0   30500.0  2015-03-29  Marketing
42       Chris P  32.0   -1504.0  2018-08-28  Marketing
45        Daniel  30.0   68000.0  2013-09-25  Marketing
51        Sara K  30.0   69000.0  2017-10-20         HR
52        Daniel  30.0  -37083.0  2021-10-03         IT
55       Michael  30.0  -12379.0  2013-12-29      Sales
56       Chris P  32.0   80000.0  2019-07-12    Finance
57         David  30.0   60000.0  2016-02-10  Marketing
69       Michael  30.0   51000.0  2019-08-14         HR
71        Daniel  30.0  -28568.0  2017-07-23    Finance
85         David  30.0   71000.0  2022-07-10         HR
90  James O'Neil  30.0  -35293.0  2021-07-07  Marketing
91        Olivia  30.0  -57693.0  2012-08-07         IT
99        Olivia  56.0  -19995.0  2012-01-08  Marketing

**Feature Engineering**

In [42]:
# Create a composite key by concatenating cleaned identifying columns
df_clean['Name-Dep'] = (
    df_clean['name'] + ' - '  + df_clean['department'])

,name,age,salary,join_date,department,Name-Dep
1,Sara K,36.0,110471.0,2012-06-28,Sales,Sara K - Sales
9,Tommy,24.0,106611.0,2015-05-15,IT,Tommy - IT
12,James O'Neil,53.0,105290.0,2010-04-09,HR,James O'Neil - HR
6,John Doe,53.0,87154.0,2024-04-19,Finance,John Doe - Finance
14,Tim,31.0,87040.0,2011-05-14,Finance,Tim - Finance
4,David,37.0,84022.0,2024-11-13,Marketing,David - Marketing
0,James O'Neil,38.0,83577.0,2018-11-25,Sales,James O'Neil - Sales
56,Chris P,32.0,80000.0,2019-07-12,Finance,Chris P - Finance
29,John Doe,66.0,79360.0,2014-12-03,Marketing,John Doe - Marketing
17,Michael,20.0,78028.0,2013-03-17,Marketing,Michael - Marketing
19,Noah,31.0,73126.0,2014-01-29,Finance,Noah - Finance
3,Sophia,49.0,72657.0,2013-10-06,HR,Sophia - HR
85,David,30.0,71000.0,2022-07-10,HR,David - HR
51,Sara K,30.0,69000.0,2017-10-20,HR,Sara K - HR
21,James O'Neil,54.0,68000.0,2015-06-03,Marketing,James O'Neil - Marketing
45,Daniel,30.0,68000.0,2013-09-25,Marketing,Daniel - Marketing
18,Daniel,53.0,67909.0,2012-05-23,Finance,Daniel - Finance
16,Daniel,43.0,67244.0,2014-10-24,Sales,Daniel - Sales
2,Chris P,35.0,62474.0,2022-07-20,Sales,Chris P - Sales
57,David,30.0,60000.0,2016-02-10,Marketing,David - Marketing
13,Chris P,45.0,58477.0,2022-04-25,Sales,Chris P - Sales
91,Olivia,30.0,57693.0,2012-08-07,IT,Olivia - IT
10,Daniel,28.0,53258.0,2010-08-17,Marketing,Daniel - Marketing
5,Michael,50.0,52958.0,2018-11-04,Marketing,Michael - Marketing
30,Chris P,30.0,52942.0,2010-07-27,Finance,Chris P - Finance
7,John Doe,45.0,51669.0,2014-03-09,HR,John Doe - HR
69,Michael,30.0,51000.0,2019-08-14,HR,Michael - HR
23,Michael,30.0,47857.0,2017-12-14,Marketing,Michael - Marketing
11,Olivia,21.0,43719.0,2017-01-20,IT,Olivia - IT
25,Chris P,28.0,40943.0,2022-02-25,Finance,Chris P - Finance
8,Karen,62.0,38963.0,2011-03-31,HR,Karen - HR
52,Daniel,30.0,37083.0,2021-10-03,IT,Daniel - IT
90,James O'Neil,30.0,35293.0,2021-07-07,Marketing,James O'Neil - Marketing
15,Ana Marie,50.0,31624.0,2013-10-23,IT,Ana Marie - IT
34,Daniel,51.0,30500.0,2015-03-29,Marketing,Daniel - Marketing
71,Daniel,30.0,28568.0,2017-07-23,Finance,Daniel - Finance
99,Olivia,56.0,19995.0,2012-01-08,Marketing,Olivia - Marketing
55,Michael,30.0,12379.0,2013-12-29,Sales,Michael - Sales
42,Chris P,32.0,1504.0,2018-08-28,Marketing,Chris P - Marketing

**Final Sorting Accroding to Salary and Print the Data Frame**

In [44]:
df_clean = df_clean.sort_values(by='salary', ascending=False).reset_index(drop=True)

# =cleanThen drop duplicates based on this key
df_clean

,name,age,salary,join_date,department,Name-Dep
0,Sara K,36.0,110471.0,2012-06-28,Sales,Sara K - Sales
1,Tommy,24.0,106611.0,2015-05-15,IT,Tommy - IT
2,James O'Neil,53.0,105290.0,2010-04-09,HR,James O'Neil - HR
3,John Doe,53.0,87154.0,2024-04-19,Finance,John Doe - Finance
4,Tim,31.0,87040.0,2011-05-14,Finance,Tim - Finance
5,David,37.0,84022.0,2024-11-13,Marketing,David - Marketing
6,James O'Neil,38.0,83577.0,2018-11-25,Sales,James O'Neil - Sales
7,Chris P,32.0,80000.0,2019-07-12,Finance,Chris P - Finance
8,John Doe,66.0,79360.0,2014-12-03,Marketing,John Doe - Marketing
9,Michael,20.0,78028.0,2013-03-17,Marketing,Michael - Marketing
10,Noah,31.0,73126.0,2014-01-29,Finance,Noah - Finance
11,Sophia,49.0,72657.0,2013-10-06,HR,Sophia - HR
12,David,30.0,71000.0,2022-07-10,HR,David - HR
13,Sara K,30.0,69000.0,2017-10-20,HR,Sara K - HR
14,James O'Neil,54.0,68000.0,2015-06-03,Marketing,James O'Neil - Marketing
15,Daniel,30.0,68000.0,2013-09-25,Marketing,Daniel - Marketing
16,Daniel,53.0,67909.0,2012-05-23,Finance,Daniel - Finance
17,Daniel,43.0,67244.0,2014-10-24,Sales,Daniel - Sales
18,Chris P,35.0,62474.0,2022-07-20,Sales,Chris P - Sales
19,David,30.0,60000.0,2016-02-10,Marketing,David - Marketing
20,Chris P,45.0,58477.0,2022-04-25,Sales,Chris P - Sales
21,Olivia,30.0,57693.0,2012-08-07,IT,Olivia - IT
22,Daniel,28.0,53258.0,2010-08-17,Marketing,Daniel - Marketing
23,Michael,50.0,52958.0,2018-11-04,Marketing,Michael - Marketing
24,Chris P,30.0,52942.0,2010-07-27,Finance,Chris P - Finance
25,John Doe,45.0,51669.0,2014-03-09,HR,John Doe - HR
26,Michael,30.0,51000.0,2019-08-14,HR,Michael - HR
27,Michael,30.0,47857.0,2017-12-14,Marketing,Michael - Marketing
28,Olivia,21.0,43719.0,2017-01-20,IT,Olivia - IT
29,Chris P,28.0,40943.0,2022-02-25,Finance,Chris P - Finance
30,Karen,62.0,38963.0,2011-03-31,HR,Karen - HR
31,Daniel,30.0,37083.0,2021-10-03,IT,Daniel - IT
32,James O'Neil,30.0,35293.0,2021-07-07,Marketing,James O'Neil - Marketing
33,Ana Marie,50.0,31624.0,2013-10-23,IT,Ana Marie - IT
34,Daniel,51.0,30500.0,2015-03-29,Marketing,Daniel - Marketing
35,Daniel,30.0,28568.0,2017-07-23,Finance,Daniel - Finance
36,Olivia,56.0,19995.0,2012-01-08,Marketing,Olivia - Marketing
37,Michael,30.0,12379.0,2013-12-29,Sales,Michael - Sales
38,Chris P,32.0,1504.0,2018-08-28,Marketing,Chris P - Marketing